     
 <!DOCTYPE html>
 <html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
      <title>Add new game</title>

      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="../static/css/materialize.css"  media="screen,projection"/>
      <link href="../static/css/style_gamepage.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    </head>
<body style="background-color:#eaeaea">
  <nav role="navigation" style="background-color:#eaeaea">
    <div class="nav-wrapper container">
      <a id="logo-container" class="brand-logo"><img src="../static/LOGO.png" alt="Unsplashed background img 1"></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="index.html">Back to Home</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>



<form action="" method="POST">{% csrf_token %}
      <div class="row">
        <div class="input-field col s12">
          <input id="name" type="text" class="validate" name="title">
          <label for="genre">Title</label>
        </div>
      </div>


      <div class="row">
        <div class="input-field col s12">
          <input id="genre" type="text" class="validate" name="genre">
          <label for="genre">Genre</label>
        </div>
      </div>


 
      <div class="row">
        <div class="input-field col s12">
          <input id="developer" type="text" class="validate" name="developer">
          <label for="Ddeveloper">Developer</label>
        </div>
      </div>
		
		<div class="row">
        <div class="input-field col s12">
          <input id="name" type="text" class="validate" name="title">
          <label for="genre">Price</label>
        </div>
      </div>
	  
	  <div class="row">
        <div class="input-field col s12">
          <input id="name" type="text" class="validate" name="title">
          <label for="genre">Release date</label>
        </div>
      </div>
	  
	  <div class="row">
		<div class="col s12 m6 l3"><p></p></div>
		   <button class="btn waves-effect waves-light grey darken-4 col s6" type="submit" name="action">Add to database
		   <i class="material-icons right">send</i>
	  </button>
		  </div>
</form>		  
 

      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="../static/js/materialize.js"></script>
      <script type="text/javascript" src="../static/js/init.js"></script>
</body>



</html>