<!--<html>
<head>
<title>Adding new games</title>
</head>
<body>
<h1>TITLE</h1>
{% if jaja %}
<p style="color: red;">Add text to review</p>
{% else %}
<p style="color: blue;">jajaj</p>
{% endif %}
{% if auth and not reviewed %}
<form action="" method='POST'>{% csrf_token %}
<input type="text" name="comment"><br>
<input type="number" name ="rating"><br>
<input type="submit" value="comment">
{% elif reviewed %}
<p style="color: red;">already reviewed</p>
{% endif %}

</form>
{% if shishi %}
<p style="color: red;">fucku reviewed</p>
{% endif %}
</body>


</html>
-->

 <!DOCTYPE html>
  <html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
      <title>Game</title>

      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="/static/css/materialize.css"  media="screen,projection"/>
      <link href="/static/css/style_gamepage.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    </head>
<body style="background-color:#eaeaea">
  <nav role="navigation" style="background-color:#eaeaea">
    <div class="nav-wrapper container">
      <a id="logo-container" class="brand-logo"><img src="/static/LOGO.png" alt="Unsplashed background img 1"></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Back to Home</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container" >
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h1 class="header col s12 light"><br><br><br></h1>
        </div>
        <div class="row center">
          <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light grey lighten-1">PLAY</a>
          <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light grey lighten-1">READ REVIEWS</a>
          <a href="ordernewgame.html" id="download-button" class="btn-large waves-effect waves-light grey lighten-1">ORDER NOW</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="/static/Wallpaper1.jpg" alt="Unsplashed background img 1"></div>
  </div>


<div class = "container">
         <div class="row center"><h5> This game is rated 5/5</h5></div>          
       <select>
            <option value="" disabled selected>Rate this game</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
          <label>Materialize Select</label>

           <div class="row center"><a href="#" id="download-button" class="btn-large waves-effect waves-light grey darken-4">Rate</a></div>
</div>

  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
              <div class="card grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Card Title</span>
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">Upvote (Number)</a>
              <a href="#">Upvote (Number)</a>
            </div>
          </div>

        </div>

        <div class="col s12 m4">
         <div class="card grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Card Title</span>
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">Upvote (Number)</a>
              <a href="#">Upvote (Number)</a>
            </div>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="card grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Card Title</span>
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#"> Upvote (Number)</a>
              <a href="#">Downvote (Number)</a>
            </div>
          </div>
        </div>
      </div>

    </div>
	{% if reviewed %}
	<div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <label for="textarea1">U have already reviewed</label>
        </div>
      </div>
    </form>
  </div>
  {% else %}
<form action="" method="POST">{% csrf_token %}
  <div class="row">
    
      <div class="row">
        <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea" name="review"></textarea>
          <label for="textarea1">Write Your Own Review</label>


        </div>
      </div>
    
  </div>

  <div class="row">
    <div class="col s12 m6 l3"><p></p></div>
       <button class="btn waves-effect waves-light grey darken-4 col s6" type="submit" name="action">Submit your review
       <i class="material-icons right">send</i>
  </button>
      </div>
	  
	</form>  
	{% endif %}
      	<br></br>

	 	<div class="row center"><h2> Similar titles</h2></div>

<div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center" id = "topG1">Game1</h5>

          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center" id = "topG2">Game2</h5>

          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center" id ="topG3">User3</h5>
          </div>
        </div>
      </div>

    </div>







  </div>



      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="/static/js/materialize.js"></script>
      <script type="text/javascript" src="/static/js/init.js"></script>
   
         <script>
      $(document).ready(function() {
    $('select').material_select();
    });
      </script>



    </body>
  </html>