<html>
<!--  name of input: loginname, name of password: password--> 


<head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
      <title>Login your account</title>

      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="../static/css/materialize.css"  media="screen,projection"/>
      <link href="../static/css/style_gamepage.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>



<body style="background-color:#eaeaea">

 <nav role="navigation" style="background-color:#eaeaea">
    <div class="nav-wrapper container">
      <a id="logo-container" class="brand-logo"><img src="../static/LOGO.png" alt="Unsplashed background img 1"></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Back to Home</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>




  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h1 class="header col s12 light"><br><br><br></h1>
        </div>
        <div class="row center">
          <div class="col s12 m6 l4"><p></p></div>
          <a href="register.html" id="download-button" class="btn-large waves-effect waves-light grey lighten-1 col s4">Not a member?</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="../static/site_banner.png" alt="Unsplashed background img 1"></div>
  </div>

<div class="container">
<div class="row center">
            <div class="col s12 m6 l3"><p></p></div>
			<div class="input-field col s6">
          <input name="loginname" type="text" class="validate">
          <label for="loginname">Username</label>
        </div>
		</div>
<div class="row">
		<div class="col s12 m6 l3"><p></p></div>
        <div class="input-field col s6">
          <input name="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
        </div>

<div class="row">
    <div class="col s12 m6 l3"><p></p></div>
       <button class="btn waves-effect waves-light grey darken-4 col s6" type="submit" name="action">Submit your registration now
       <i class="material-icons right">send</i>
  </button>
      </div>


      </div>




<!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="../static/js/materialize.js"></script>
      <script type="text/javascript" src="../static/js/init.js"></script>

</body>



</html>