<html>


<head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
      <title>Player Page</title>

      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="/static/css/materialize.css"  media="screen,projection"/>
      <link href="/static/css/style_register.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>



<body style="background-color:#eaeaea">

 <nav role="navigation" style="background-color:#eaeaea">
    <div class="nav-wrapper container">
      <a id="logo-container" class="brand-logo"><img src="/static/LOGO.png" alt="Unsplashed background img 1"></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Back to Home</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div class = "container">
      <div class="col s3 m8 offset-m2 l6 offset-l3">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s2">
              <img src="/static/Game/{{gid}}/Icon.png" alt="" class="responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s5">
              <span class="black-text">
                  <p>
                  <font size = "33">
                {{ title }}
              </font>
                </p>

              </span>
            </div>
           
            <div class="col s8">
              <span class="black-text">
                  <p>
                  <font size = "33">
                {{ score }}
              </font>
                </p>

              </span>
            </div>
        




        </div>
      </div>

      </div>

<div class="row">
          <div class="input-field col s12">
            <textarea id="textarea1" class="materialize-textarea" length="120"></textarea>
            <label for="textarea1">Write your review</label>
          </div>
        </div>
<form action="" method="GET">      
<div class="row">
Select n useful comments {{ generate }}
          <div class="input-field col s12">
		  <input type="number" name="useful" min="1" max="5">
            
            
          </div>
        </div>
		<button class="btn waves-effect waves-light grey darken-4 col s6" type="submit" name="generate">Generate top useful reviews
       <i class="material-icons right">send</i>
  </button>
</form>

{% for review in reviewlist %}

<div class="col s3 m8 offset-m2 l6 offset-l3">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s2">
              <img src="/static/player/{{review.2}}/user.png" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
            <p> {{ review.0 }}</p>
            </div>
            <div class="col s5">
              <p> {{ review.1 }} </p>
            </div>
			{% if review.6 == 0 and review.7 == 0 %}
			<form action="" method="POST">{% csrf_token %}
            <div>
              <button class="btn waves-effect waves-light" type="submit" name="upvote" value="{{review.3}}">Upvote : {{review.4}}
       <i class="material-icons right">send</i>
  </button>
            </div>
			
             <div>
              <button class="btn waves-effect waves-light" type="submit" name="downvote" value="{{review.3}}">Downvote : {{review.5}}
       <i class="material-icons right">send</i>
  </button>
            </div>
</form>
{% else %}
<div>
              <button class="btn waves-effect waves-light">U have voted Upvote : {{review.4}}|Downvote : {{review.5}}
       <i class="material-icons right">send</i>
  </button>
            </div>
{% endif %}
        </div>
      </div>
      </div>
    
{% endfor %}









    <div class="row">
      <button class="btn-large waves-effect waves-light grey darken-3 col s2 push-s8"><span class="flow-text">Previous</span>        <i class="material-icons left">skip_previous</i>
</button>
      <button class="btn-large waves-effect waves-light grey darken-4 col s2 push-s8"><span class="flow-text">Next</span>       <i class="material-icons right">skip_next</i>
</button>
    </div>
  </div>






<!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="../static/js/materialize.js"></script>
      <script type="text/javascript" src="../static/js/init.js"></script>

      <script>
      $(document).ready(function() {
    $('select').material_select();
    });
      </script>


</body>



</html>