<html>


<head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
      <title>Search Games</title>

      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="../static/css/materialize.css"  media="screen,projection"/>
      <link href="../static/css/style_register.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>



<body style="background-color:#eaeaea">

 <nav role="navigation" style="background-color:#eaeaea">
    <div class="nav-wrapper container">
      <a id="logo-container" class="brand-logo"><img src="../static/LOGO.png" alt="Unsplashed background img 1"></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Back to Home</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>


  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h1 class="header col s12 light"><br><br><br></h1>
        </div>
        <div class="row center">
          <div class="col s12 m6 l4"><p></p></div>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="../static/site_banner.png" alt="Unsplashed background img 1"></div>
  </div>
{% if notitle %} 
 <div class="row center" color="red"> you need to enter title </div>
 {% endif %}
<form action="" method="GET">
	<div class="container">
	<div class="row center">
				<div class="col s12 m6 l3"><p></p></div>
				<div class="input-field col s6">
			  <input name="title" type="text" class="validate">
			  <label for="gamename">Game title</label>
			</div>
			</div>

		</div>

                  <br></br>
    		 <div class="row center"><h3> Or seach game by genre</h3></div>
		
    		 <div class="container">
	<div class="row">
				<div class="col s12 m2 l3"><p></p></div>

				  <div class="input-field col s6">
			    <select name="genre">
			      <option value="" disabled selected>Choose your option</option>
			      <option value="fps">First Person Shooter</option>
			      <option value="mmo">MMORPG</option>
				  <option value="moba">MOBA</option>
				  <option value="action">action</option>
			    </select>
			    <label>Select genre</label>
			  </div>
			</div>
			    <br></br>
    		 <div class="row center"><h3> and sort by date or score</h3></div>
			<div class="row">
				<div class="col s12 m2 l3"><p></p></div>

				  <div class="input-field col s6">
			    <select name="sort">
			      <option value="" disabled selected>Sorted by</option>
			      <option value="release_date">date</option>
			      <option value="score">score</option>
			      
			    </select>
			    <label>Select sorting order</label>
			  </div>
			</div>
	<div class="row">
		<div class="col s12 m6 l3"><p></p></div>
		   <button class="btn waves-effect waves-light grey darken-4 col s6" type="submit" name="action">Search title
		   <i class="material-icons right">send</i>
	  </button>
		  </div>
		</div>
		</form>
		
		{% for game in gamelist %}
		  <div class="col s3 m8 offset-m2 l6 offset-l3">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s2">
              <img src="/static/user2.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
            <p> {{ game.0 }}</p>
            </div>
            <div class="col s5">
              <p> <a href="/game/{{game.0}}">{{ game.1 }}</a> </p>
            </div>
            

        </div>
      </div>
      </div> 
	  {% endfor %}
			  


<!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="../static/js/materialize.js"></script>
      <script type="text/javascript" src="../static/js/init.js"></script>

      <script>
      $(document).ready(function() {
    $('select').material_select();
		});
      </script>


</body>



</html>